@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/* GENERAL */
html {
  height: 100%;
}
html.on-modal-show {
  overflow: hidden;
}

main.flex-container {
  flex-direction: column;
}

body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}
body section {
  margin: 20px 0;
}
body section.flex-container {
  flex-direction: column;
}
body section .btn-type1 {
  margin: 20px 0;
}

li {
  list-style: none;
}

hr {
  height: 4px;
  border: none;
  opacity: 1;
}
hr.hr-type1 {
  background-color: #ff3c38;
  width: 15%;
}
hr.hr-type2 {
  background-color: white;
  width: 50%;
}

a {
  text-decoration: none;
  text-align: center;
  color: #ff3c38;
}
a:hover {
  font-weight: 900;
  transition: all 0.3s;
  color: #fff275;
}
a.btn-type1, a.btn-type2 {
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

form.flex-container {
  flex-direction: column;
  gap: 20px;
}
form .text-input {
  background-color: #aaaaaa;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  width: 100%;
}
form .text-input:focus {
  background-color: #dddddd;
}
form textarea {
  resize: none;
  height: 300px;
}

button,
input[type=submit] {
  transition: all 0.3s;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-closed,
.hide-on-screen-sm {
  display: none;
}

.hide-on-screen-lg {
  display: block;
}

.rounded {
  border-radius: 15px;
}

.btn-type1 {
  background-color: #ff3c38;
  border: 2px solid #ff3c38;
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
}
.btn-type1:hover {
  border-color: #2e2e2e;
  background-color: #2e2e2e;
  color: #fff275;
}

.btn-type2 {
  background-color: transparent;
  border: 2px solid #fff275;
  border-radius: 15px;
  color: #fff275;
  padding: 10px 20px;
}
.btn-type2:hover {
  border-color: #2e2e2e;
  color: #ff3c38;
}

.social-nav li:first-of-type a {
  color: #4267b2;
}
.social-nav li:nth-of-type(2) a {
  color: #1da1f2;
}
.social-nav li:nth-of-type(3) a {
  color: #e1306c;
}
.social-nav li:last-of-type a {
  color: #25d366;
}
.social-nav li:hover a {
  color: white;
}
.social-nav ul.flex-container {
  gap: 10px;
}

.div-section-head {
  text-align: center;
}
.div-section-head h6, .div-section-head p {
  font-style: italic;
}

.div-section-content p {
  text-align: justify;
}

/* /GENERAL */
/* HEADER */
header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 10px 20px 0 20px;
  transition: all 0.3s;
}
header.flex-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
header div > a,
header #nav-menu-header a {
  color: white;
}
header div > a:hover,
header #nav-menu-header a:hover {
  color: #ff3c38;
}
header #nav-menu-header ul {
  position: absolute;
  top: 60px;
  right: 20px;
}
header #nav-menu-header ul.flex-container {
  flex-direction: column;
  align-items: flex-end;
}
header #nav-menu-header ul.flex-container a {
  display: block;
  padding: 20px;
}
header nav.social-nav {
  position: absolute;
  left: 0;
  bottom: 0;
}
header.deployed {
  height: 60%;
  background-color: rgba(0, 0, 0, 0.6);
}
header.not-mutable, header.sw-color-on-scroll {
  background: rgba(0, 0, 0, 0.6);
}
header.not-mutable a, header.sw-color-on-scroll a {
  color: #ff3c38;
}
header.not-mutable a:hover, header.sw-color-on-scroll a:hover {
  color: #fff275;
}

#btn-menu {
  position: absolute;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
#btn-menu span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 6px;
  transform-origin: left;
  transition: all 0.3s;
}
#btn-menu span:first-of-type.deployed {
  transform: rotate(45deg);
}
#btn-menu span:nth-of-type(2) {
  margin-top: 8px;
}
#btn-menu span:nth-of-type(2).deployed {
  opacity: 0;
  margin-left: -30px;
}
#btn-menu span:last-of-type {
  margin-top: 8px;
}
#btn-menu span:last-of-type.deployed {
  transform: rotate(-45deg);
}
#btn-menu:hover span {
  background-color: #ff3c38;
}

/* /HEADER */
/* FOOTER */
footer {
  text-align: center;
  background-color: #2e2e2e;
  color: white;
  padding: 20px;
}
footer.send-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer.flex-container {
  flex-direction: column;
  align-items: center;
}

/* /FOOTER */
#main-home,
#main-news {
  color: white;
  height: 100vh;
}

#main-home {
  background: url(../assets/images/cover/basketball-6763978_1920.jpg) no-repeat center center fixed;
  /* SIGNUP MODAL */
  /* /SIGNUP MODAL */
}
#main-home .div-modal {
  position: absolute;
  width: 100%;
  background-color: #2e2e2e;
  padding: 50px;
  max-width: 400px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.6);
  z-index: 10;
}
#main-home .div-modal .btn-switch-modal {
  background-color: #2e2e2e;
  border: none;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
#main-home .div-modal .btn-switch-modal.btn-active {
  color: #fff275;
  border-bottom: 2px solid #ff3c38;
}
#main-home .div-modal .btn-switch-modal:not(.btn-active) {
  color: #aaaaaa;
}
#main-home .div-modal .btn-close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../assets/images/icons/close_FILL0_wght400_GRAD0_opsz48.svg);
  background-color: transparent;
  width: 48px;
  height: 48px;
  border: none;
}
#main-home .div-modal .flex-container {
  flex-direction: column;
}

.carousel {
  z-index: 0;
  width: 100%;
  max-width: 400px;
}

.carousel-item img {
  object-fit: cover;
  height: 300px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 10px;
}
.carousel-caption .btn-type2 {
  padding: 0;
  border: none;
}

.carousel-control-prev,
.carousel-control-next {
  margin-top: 10%;
}

#section-news .art-c1 {
  background-image: url(../../assets/images/news/training-828741_1920.jpg);
}

#section-news .art-c2 {
  background-image: url(../assets/images/news/tartan-track-gf34e7127e_1280.jpg);
}

#section-news .art-c3 {
  background-image: url(../assets/images/news/football-gc553cff1b_1280.jpg);
}

#section-news .art-c4 {
  background-image: url(../assets/images/news/football-stadium-3952062_1920.jpg);
}

#main-about section {
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  padding: 20px;
  place-items: center;
}
#main-about section div.div-section-content {
  padding: 50px;
}
#main-about section div.div-section-content h2 {
  text-align: center;
}
#main-about section:nth-of-type(odd) {
  background-color: #2e2e2e;
}
#main-about section:nth-of-type(even) {
  background-color: #ff3c38;
}

main.not-mutable {
  margin-top: 60px;
}

#main-gallery.flex-container {
  flex-direction: column;
}
#main-gallery .div-section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "p1 p1" "p2 p3" "p4 p5" "p4 p5" "p6 p7" "p8 p8" "p9 p9";
  width: 100%;
}
#main-gallery .div-section-content div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}
#main-gallery .pic1 {
  background-image: url(../assets/images/gallery/goalkeeper-7893178_1280.jpg);
  grid-area: p1;
}
#main-gallery .pic2 {
  background-image: url(../assets/images/gallery/child-613199_1280.jpg);
  grid-area: p2;
}
#main-gallery .pic3 {
  background-image: url(../assets/images/gallery/soccer-3471402_1920.jpg);
  grid-area: p3;
}
#main-gallery .pic4 {
  background-image: url(../assets/images/gallery/basketball-14861.jpg);
  grid-area: p4;
}
#main-gallery .pic5 {
  background-image: url(../assets/images/gallery/tennis-251907_1920.jpg);
  grid-area: p5;
}
#main-gallery .pic6 {
  background-image: url(../assets/images/gallery/volleyball-1615685_1280.jpg);
  grid-area: p6;
}
#main-gallery .pic7 {
  background-image: url(../assets/images/gallery/volleyball-1567725_1280.jpg);
  grid-area: p7;
}
#main-gallery .pic8 {
  background-image: url(../assets/images/gallery/tennis-5782695_1280.jpg);
  grid-area: p8;
}
#main-gallery .pic9 {
  background-image: url(../assets/images/news/basketball-g749eb4114_1280.jpg);
  grid-area: p9;
}

#main-news {
  background: url(../assets/images/news/training-828741_1920.jpg) no-repeat center center fixed;
  height: 100vh;
}

#news-page-section-grid .div-section-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}
#news-page-section-grid .art-c1 {
  background-image: url(../assets/images/news/tartan-track-gf34e7127e_1280.jpg);
}
#news-page-section-grid .art-c2 {
  background-image: url(../assets/images/news/football-gc553cff1b_1280.jpg);
}
#news-page-section-grid .art-c3 {
  background-image: url(../assets/images/news/football-stadium-3952062_1920.jpg);
}
#news-page-section-grid .art-c4 {
  background: url(../assets/images/news/box-ga466dadfe_1280.jpg) right center;
}
#news-page-section-grid .art-c5 {
  background: url(../assets/images/news/stadium-gd6ea72586_1280.jpg);
}
#news-page-section-grid .art-c6 {
  background: url(../assets/images/news/basketball-g749eb4114_1280.jpg) right center;
}

.article-card.flex-container {
  background: center center no-repeat;
  background-size: cover;
  min-height: 250px;
  flex-direction: column;
  justify-content: flex-end;
}

.article-caption {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin: 10px;
  padding: 10px;
  position: relative;
}

.article-caption a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#section-contact-alternatives .div-section-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
#section-contact-alternatives .div-section-content div {
  max-width: 370px;
  color: white;
  padding: 20px;
}
#section-contact-alternatives .div-section-content div:nth-of-type(odd) {
  background-color: #ff3c38;
}
#section-contact-alternatives .div-section-content div:nth-of-type(odd) a {
  color: #fff275;
}
#section-contact-alternatives .div-section-content div:nth-of-type(even) {
  background-color: #2e2e2e;
}
#section-contact-alternatives .div-section-content div.flex-container {
  flex-direction: column;
}
#section-contact-alternatives .div-section-content div .bi {
  width: 1.5em;
  height: 1.5em;
}

/* SCRIPTS */
.sw-color-on-scroll #btn-menu span {
  background-color: #ff3c38;
}
.sw-color-on-scroll #btn-menu:hover span {
  background-color: #fff275;
}

/* /SCRIPTS */
@media (min-width: 700px) {
  header.deployed {
    height: 100%;
    overflow: scroll;
  }
  #section-news .container {
    min-height: 500px;
  }
  #news-page-section-grid .div-section-content {
    grid-template-columns: 1fr 1fr;
  }
  main.not-mutable {
    margin-top: 100px;
  }
  #main-gallery .div-section-content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "p1 p1 p2" "p3 p4 p7" "p9 p9 p6" "p5 p5 p8";
  }
  #main-gallery .div-section-content div {
    background-size: cover;
    height: 500px;
  }
  #main-about section {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  #section-contact-alternatives .div-section-content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  header.flex-container {
    flex-direction: row;
  }
  header #nav-menu-header ul.flex-container {
    position: relative;
    top: 0;
    flex-direction: row;
    align-items: center;
  }
  header #nav-menu-header ul.flex-container a {
    display: block;
    padding: 20px;
  }
  header #nav-menu-header.set-closed {
    display: block;
  }
  header nav.social-nav {
    position: relative;
  }
  header nav.social-nav.set-closed {
    display: block;
  }
  header nav.social-nav ul.flex-container {
    flex-direction: row;
  }
  #main-home {
    background: url(../assets/images/cover/football-1274661_1920.jpg) no-repeat center center fixed;
  }
  .carousel {
    max-width: 900px;
  }
  .carousel-item img {
    height: auto;
  }
  .hide-on-screen-lg {
    display: none;
  }
  .hide-on-screen-sm {
    display: block;
  }
  #news-page-section-grid .div-section-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #section-contact-alternatives .div-section-content {
    grid-template-areas: "div div div";
  }
}

/*# sourceMappingURL=style.css.map */
