@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
$color1: #ff3c38;
$color2: #fff275;
$color3: #2e2e2e;
$color4: #aaaaaa;
$color5: #dddddd;
$transparent-black: rgba(0, 0, 0, .8);
@mixin set-size($width, $height) {
  width: $width;
  height: $height;
}
@mixin set-colors($background, $foreground) {
  background-color: $background;
  color: $foreground;
}
@import './partials/structure';
@import './partials/index';
@import './partials/about';
@import './partials/gallery';
@import './partials/news';
@import './partials/contact';
@import './partials/media-queries.scss';