#section-contact-alternatives .div-section-content {
    div:nth-of-type(odd) {
        background-color: $color1;
        color: white;
        padding: 20px;
        &.flex-container {
            flex-direction: column;
        }
        a {
            color: $color2;
        }
        .bi {
            width: 1.5em;
            height: 1.5em;
        }
    }
}