#section-contact-alternatives .div-section-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    div {
        max-width: 370px;
        color: white;
        padding: 20px;
        &:nth-of-type(odd) {
            background-color: $color1;
            a {
                color: $color2;
            }
        }
        &:nth-of-type(even) {
            background-color: $color3;
        }
        &.flex-container {
            flex-direction: column;
        }
        .bi {
            width: 1.5em;
            height: 1.5em;
        }
    }
}