$color1: #ff3c38;
$color2: #fff275;
$color3: #2e2e2e;
$color4: #aaaaaa;
$color5: #dddddd;
$transparent-black: rgba(0, 0, 0, .6);
/* GENERAL */
html {
  height: 100%;
  &.on-modal-show {
    overflow: hidden;
  }  
}
main.flex-container {
  flex-direction: column;
}
body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  section {
    margin: 20px 0;
    &.flex-container {
      flex-direction: column;
    }
    .btn-type1 {
      margin: 20px 0;
    }
  }
}
li {
  list-style: none;
}
hr {
  height: 4px;
  border: none;
  opacity: 1;
  &.hr-type1 {
    background-color: $color1;
    width: 15%;
  }
  &.hr-type2 {
    background-color: white;
    width: 50%;
  }
}
a {
  text-decoration: none;
  text-align: center;
  color: $color1;
  &:hover {
    font-weight: 900;
    transition: all 0.3s;
    color: $color2;
  }
  &.btn-type1,
  &.btn-type2 {
    padding: 10px 20px;
  }
}
img {
  max-width: 100%;
}
form {
  &.flex-container {
    flex-direction: column;
    gap: 20px;
  }
  .text-input {
    background-color: $color4;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    width: 100%;
    &:focus {
      background-color: $color5;
    }
  }
  textarea {
    resize: none;
    height: 300px;
  }
}
button,
input[type="submit"] {
  transition: all 0.3s;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.set-closed,
.hide-on-screen-sm {
  display: none;
}
.hide-on-screen-lg {
  display: block;
}
.rounded {
  border-radius: 15px;
}
.btn-type1 {
  background-color: $color1;
  border: 2px solid $color1;
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
  &:hover {
    border-color: $color3;
    background-color: $color3;
    color: $color2;
  }
}
.btn-type2 {
  background-color: transparent;
  border: 2px solid $color2;
  border-radius: 15px;
  color: $color2;
  padding: 10px 20px;
  &:hover {
    border-color: $color3;
    color: $color1;
  }
}
.social-nav {
  li {
    &:first-of-type a {
      color: #4267b2;
    }
    &:nth-of-type(2) a {
      color: #1da1f2;
    }
    &:nth-of-type(3) a {
      color: #e1306c;
    }
    &:last-of-type a {
      color: #25d366;
    }
    &:hover a {
      color: white;
    }
  }
  ul.flex-container {
    gap: 10px;
  }
}
.div-section-head {
  text-align: center;
  h6, p {
    font-style: italic;
  }
}
.div-section-content p {
  text-align: justify;
}
/* /GENERAL */
/* HEADER */
header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 10px 20px 0 20px;
  transition: all .3s;
  &.flex-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  div > a,
  #nav-menu-header a {
    color: white;
    &:hover {
      color: $color1;
    }
  }
  #nav-menu-header {
    ul {
      position: absolute;
      top: 60px;
      right: 20px;
      &.flex-container {
        flex-direction: column;
        align-items: flex-end;
        a {
          display: block;
          padding: 20px;
        }
      }
    }
  }
  nav.social-nav {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &.deployed {
    height: 60%;
    background-color: $transparent-black;
  }
  &.not-mutable,
  &.sw-color-on-scroll {
    background: $transparent-black;
  }
  &.not-mutable a,
  &.sw-color-on-scroll a {
    color: $color1;
  }
  &.not-mutable a:hover,
  &.sw-color-on-scroll a:hover {
    color: $color2;
  }
}
#btn-menu {
  position: absolute;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 6px;
    transform-origin: left;
    transition: all 0.3s;
    &:first-of-type.deployed {
      transform: rotate(45deg);
    }
    &:nth-of-type(2) {
      margin-top: 8px;
      &.deployed {
        opacity: 0;
        margin-left: -30px;
      }
    }
    &:last-of-type {
      margin-top: 8px;
      &.deployed {
        transform: rotate(-45deg);
      }
    }
  }
  &:hover span {
    background-color: $color1;
  }
}
/* /HEADER */
/* FOOTER */
footer {
  text-align: center;
  background-color: #2e2e2e;
  color: white;
  padding: 20px;
  &.send-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  &.flex-container {
    flex-direction: column;
    align-items: center;
  }
}
/* /FOOTER */