@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General items styling */
a
{
    text-decoration: none;
}

button
{
    width: 150px;
    height: 50px;
    font-weight: bold;
}

ul
{
    list-style: none;
}

hr
{
    width: 15%;
    height: 5px;
    background-color: #FF3C38;
    border: none;
    border-radius: 10px;
    opacity: 1;
}

img
{
    max-width: 100%;
}

textarea
{
    resize: none;
}
/* /General items styling */

.flex-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header */

header
{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    transition: all 300ms;
    color: white;
    z-index: 1;
}

header > a
{
    color: white;
}

.btn-menu
{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.btn-menu span
{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

header nav
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 10px;
    right: 10px;
    transition: all 300ms;
}

header nav ul.flex-container
{
    background-color: black;
    display: flex;
    align-items: flex-end;
}

header nav ul.flex-container a
{
    display: block;
    color: white;
    padding: 20px 20px 20px 100vh;
}

header nav ul.flex-container a:hover
{
    color: #FF3C38;
    font-weight: bold;
    transition: all 500ms;
}

/* /Header */
body
{
    font-family: "Roboto";
}

body section:not(section:first-of-type)
{
    margin: 20px;
}

#div-signup-window
{
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 50px;
    right: 50px;
    background-color: #eee;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    border-radius: 10px;
    text-align: center;
    transition: all 300ms;
}

#div-signup-window > div
{
    padding: 80px;
}

#div-signup-window .flex-column div button
{
    border: none;
}

#div-signup-window .flex-column div span
{
    height: 5px;
    background-color: black;
}

/* Body sections styling */

.div-section-head
{
    text-align: center;
}

.div-section-head h6
{
    font-style: italic;
}

#btn-close-signup
{
    border: none;
    background-color: transparent;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    right: 10px;
}

#section-home
{
    background: url(../assets/images/basketball-6763978_1920.jpg) no-repeat center center fixed;
    min-height: 100vh;
    background-size: cover;
    color: white;
    text-align: center;
}

#section-home h1
{
    font-size: 4rem;
}

#section-home button
{
    margin-top: 50px
}

#section-home .div-section-content > button
{
    background-color: #FF3C38;
    border: 2px solid #FF3C38;
    color: inherit;
    margin-right: 20px;
}

#section-home a button
{
    border: 2px solid #FFF275;
    background-color: transparent;
    color: #FFF275;
    margin-left: 20px;
}

.carousel
{
    z-index: 0;
}

img.d-block
{
    object-fit: cover;
    border-radius: 20px;
}

.carousel-caption
{
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 10px 20px;
}

.carousel-caption p
{
    text-align: justify;
}

.carousel-control-prev, .carousel-control-next
{
    margin-top: 25%;
}

#section-gallery .container .row img
{
    object-fit: cover;
}

/* /Body sections styling */

/* Script styling */

/* Menu button */

.animated-bar1
{
    transform: rotate(45deg) translate(-2px, 1px);
}

.animated-bar2
{
    opacity: 0;
    margin-left: -30px;
}

.animated-bar3
{
    transform: rotate(-45deg) translate(-4px, 2px);
}

/* / Menu button */

.set-hidden
{
    opacity: 0;
    visibility: hidden;
}

.on-modal-show
{
    overflow: hidden;
}

.sw-color-on-scroll .btn-menu span
{
    background-color: #FF3C38;
}

.sw-color-on-scroll a
{
    color: #FF3C38;
}

.sw-color-on-scroll a:hover
{
    color: #FFF275;
}

/* /Script styling */

@media (min-width: 1282px)
{
    div.flex-container
    {
        display: flex;
        flex-direction: row;
    }

    #carousel-about-section
    {
        width: 1200px;
        height: auto;
        z-index: 0;
    }

    #div-signup-window
    {
        top: 15%;
        left: 35%;
        width: 30%;
        text-align: center;
    }

    #section-home
    {
        background-image: url(../assets/images/football-1274661_1920.jpg);
    }

    header nav
    {
        top: 0px;
    }
    
    header nav ul.flex-container
    {
        flex-direction: row;
        background-color: transparent;
        gap: 50px;
    }

    header nav ul.flex-container a
    {
        padding: 0;
    }
    
    .on-screen-change-show
    {
        visibility: visible;
        opacity: 1;
        position: relative;
    }

    .on-screen-change-hide
    {
        display: none;
    }
}