@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
/* GENERAL */
body
{
    font-family: 'Ubuntu', sans-serif;
}
li
{
    list-style: none;
}
hr
{
    width: 25vh;
    height: 4px;
    border: none;
    border-radius: 10px;
    opacity: 1;
    background-color: #FF3C38;
}
a
{
    text-decoration: none;
    color: #FF3C38;
}
a:hover
{
    font-weight: 900;
    transition: all 300ms;
}
img
{
    max-width: 100%;
}
textarea
{
    resize: none;
}
.flex-container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.set-hidden, .hide-on-screen-sm
{
    display: none;
}
.hide-on-screen-lg
{
    display: block;
}
button
{
    width: 150px;
    height: 50px;
    border-radius: 10px;
}
.btn-type1
{
    background-color: #FF3C38;
    border: #FF3C38;
    color: white;
}
.btn-type2
{
    background-color: transparent;
    border: 2px solid #FFF275;
    color: #FFF275;
}
/* /GENERAL */
/* HEADER */
header.flex-container
{
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px 0 20px;
    transition: all 300ms;
}
header a
{
    color: white;
}
header a:hover
{
    color: #FF3C38;
}
#btn-menu
{
    width: 40px;
    height: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
#btn-menu span
{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}
header nav
{
    position: absolute;
    top: 60px;
    right: 40px;
}
header nav ul.flex-container
{
    flex-direction: column;
    background-color: black;
}
header nav ul a
{
    display: block;
    padding: 20px;
}
/* /HEADER */
/* BODY */
body section:not(#section-home, main.latest-news)
{
    margin: 20px;
}
section.flex-container, form.flex-container
{
    flex-direction: column;
}
.div-section-head
{
    text-align: center;
}
.div-section-content p
{
    text-align: justify;
}
.div-section-head p:not(#section-home p):not(main.latest-news p)
{
    font-style: italic;
}
#section-home
{
    background: url(../assets/images/cover/basketball-6763978_1920.jpg) no-repeat center center fixed;
    height: 100vh;
}
#section-home, main.latest-news
{
    color: white;
}
.carousel
{
    z-index: 0;
}
.carousel-item img
{
    border-radius: 10px;
    object-fit: cover;
    height: 300px;
}
.carousel-caption
{
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px;
    padding: 0 10px;
}
.carousel-control-prev, .carousel-control-next
{
    margin-top: 30%;
}
/* NEWS PAGE */
main.latest-news.flex-container
{
    background: url(../assets/images/news/training-828741_1920.jpg) no-repeat center center fixed;
    height: 100vh;
}
/* /NEWS PAGE */
/* /BODY */
/* FOOTER */
footer.flex-container
{
    flex-direction: column;
    background-color: #2e2e2e;
    align-items: center;
    color: white;
    padding: 20px;
}
footer nav.flex-container
{
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
footer nav a:hover
{
    color: white;
}
.social-link-f
{
    color: #4267B2;
}
.social-link-t
{
    color: #1DA1F2;
}
.social-link-i
{
    color: #E1306C
}
.social-link-w
{
    color: #25D366;
}
/* /FOOTER */

/* SCRIPTS */
.animated-bar1
{
    transform: rotate(45deg) translate(-1px, 1px);
}
.animated-bar2
{
    opacity: 0;
    margin-left: -30px;
}
.animated-bar3
{
    transform: rotate(-45deg) translate(-4px, 2px);
}
.sw-color-on-scroll
{
    background: rgba(0, 0, 0, .8);
}
.sw-color-on-scroll a
{
    color: #FF3C38;
}
.sw-color-on-scroll a:hover
{
    color: #FFF275;
}
#sw-color-on-scroll .btn-menu span
{
    background-color: #FF3C38;    
}
#sw-color-on-scroll .btn-menu:hover span
{
    background-color: #FFF275;
}
/* /SCRIPTS */
@media (min-width: 900px)
{
    header nav
    {
        position: relative;
        top: 0;
        right: 0;
    }
    header nav ul.flex-container
    {
        flex-direction: row;
        background-color: transparent;
    }
    #section-home
    {
        background: url(../assets/images/cover/football-1274661_1920.jpg) no-repeat center center fixed;
    }
    .carousel
    {
        width: 1000px;
    }
    .carousel-item img
    {
        height: auto;
    }
    .hide-on-screen-lg
    {
        display: none;
    }
    .hide-on-screen-sm
    {
        display: block;
    }
}